<?xml version="1.0"?>

<robot name="mm1" xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">>

  <xacro:arg name="omni" default="false" />

  <xacro:if value="$(arg omni)">
    <xacro:include filename="$(find lampo_description)/urdf/sweepee/sweepee_omni.xacro" />
  </xacro:if>

  <xacro:unless value="$(arg omni)">
    <xacro:include filename="$(find lampo_description)/urdf/sweepee/sweepee_diff.xacro" />
  </xacro:unless>


    <!-- Simulation parameters -->
  <xacro:arg name="sim_gz" default="false" />
  <xacro:arg name="simulation_controllers" default="error_default" />

  <xacro:property name="M_PI" value="3.14159"/>

  <xacro:sweepee  prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:sweepee>

</robot>
